<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
    <!-- 🚨 Notice this link -->
    <link id="dark-theme-style" rel="stylesheet" />

    <title>{% block title %} {% endblock %}</title>
    
    <style>
      
      footer {
        position: fixed;
        height: 50px;
        bottom: 0;
        width: 100vw;
      }

      .modal {
        width: 100vw;
      }

      .container {
        overflow:hidden;
      }

      .inputs {
        width: 80%;
      }

    </style>
  </head>

  <body class="d-flex flex-column h-100">

    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
  
        {% if session.user_id %}
      
          <a class="navbar-brand" href="/user_home">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="" width="60px" height="60px">
            Learner's Journey
          </a>
    
        {% else %}

          <a class="navbar-brand" href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="" width="60px" height="60px">
            Learner's Journey
          </a>
          
        {% endif %}
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          {% if session.user_id %}
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item" style="margin-right: 400px;">
                  <a class="nav-link" href="#"></a>
                </li>
                
                <a href="/user_home" class="nav-item nav-link my-auto" style="font-size: 18px;"> Home </a>
                <a href="/user_account" class="nav-item nav-link my-auto" style="font-size: 18px;"> My Account </a>
                <a href="/logout" class="nav-item nav-link my-auto" style="font-size: 18px;"> Logout </a>
                <a
                href="javascript:void()"
                class="btn btn-outline-info"
                id="theme-toggler"
                onclick="toggleTheme()"
                style="margin-left: 10px;">
                </a>

              </ul>
            </div>
          {% else %}
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item" style="margin-right: 400px;">
                  <a class="nav-link" href="#"></a>
                </li>
                
                {% block navigation %} {% endblock %}

                <a
                href="javascript:void()"
                class="btn btn-outline-info"
                id="theme-toggler"
                onclick="toggleTheme()"
                style="margin-left: 10px; width: 75%;">
                </a>

              </ul>
            </div>
          {% endif %}
        </div>
      </nav>
    </header>

    <div style="margin-bottom: 20px;"></div>
    
    <div class="container">{% block content %} {% endblock %}</div>
    
    <div style="margin-bottom: 30px;"></div>

    <footer class="py-3 bg-dark text-white">
      <div class="container text-center">
        <small>Copyright &copy; The Learner's Journey</small>
      </div>
    </footer>

    <!-- JavaScript -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous">
    </script>

    <script>
      // you can use app's unique identifier here
      const LOCAL_STORAGE_KEY = "toggle-bootstrap-theme";

      const LOCAL_META_DATA = JSON.parse(localStorage.getItem(LOCAL_STORAGE_KEY));

      // you can change this url as needed
      const DARK_THEME_PATH = "https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.2.2/cyborg/bootstrap.min.css";

      const DARK_STYLE_LINK = document.getElementById("dark-theme-style");
      const THEME_TOGGLER = document.getElementById("theme-toggler");

      let isDark = LOCAL_META_DATA && LOCAL_META_DATA.isDark;

      // check if user has already selected dark theme earlier
      if (isDark) {
        enableDarkTheme();
      } else {
        disableDarkTheme();
      }


      /**
      * Apart from toggling themes, this will also store user's theme preference in local storage.
      * So when user visits next time, we can load the same theme.
      *
      */
      function toggleTheme() {
        isDark = !isDark;
        if (isDark) {
          enableDarkTheme();
        } else {
          disableDarkTheme();
        }
        const META = { isDark };
        localStorage.setItem(LOCAL_STORAGE_KEY, JSON.stringify(META));
      }

      function enableDarkTheme() {
        DARK_STYLE_LINK.setAttribute("href", DARK_THEME_PATH);
        THEME_TOGGLER.innerHTML = "🌙 Dark";
      }

      function disableDarkTheme() {
        DARK_STYLE_LINK.setAttribute("href", "");
        THEME_TOGGLER.innerHTML = "🌞 Light";
      }


      var myModal = document.getElementById('myModal')
      var myInput = document.getElementById('myInput')

      myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
      })

    </script>

    <script 
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" 
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" 
      crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script type="text/javascript">
      jQuery(document).ready(function($){
        $('.card-header').each(function(){
          $(this).attr('data-search-term', $(this).text().toLowerCase());
          console.log($(this).html())
        });
        
        let counter = 0;
        $('.live-search-box').keyup( function(event){
          var searchTerm = $(this).val().toLowerCase();
          if(event.keyCode == 8 && counter > 0) {
            counter--;
            if (counter == 0) {
              $('.all-cards').show().children().show()
            }

          } else {
            counter++;
          }
          
          $('.card-header').each(function(){
            if ($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
              $(this).parent().show();
            } else {
              $(this).parent().hide();
            }
          });
        
        });
      
      });
    </script>

  </body>

</html>
